{% extends "::base.html.twig" %}

{% block title %}Pago de {{usu[0].nombre}} de Factura {{factura[0].codFactura}}{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('stylesheets/indexMarcos.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class="container">
    <h1>Pago de Factura {{factura[0].codFactura}} de la habitacion {{hab[0].CodHabitacion}}</h1>
        <p>
            Numero: {{factura[0].codFactura}}<br>
            Fecha de Expedicion: {{factura[0].fechaExpedicion|date("d-m-Y")}}<br>
            Fecha de Pago: {{factura[0].fechaPago|date("d-m-Y")}}<br>
            Importe: {{factura[0].importe}}<br>
            <h1>PAGADA</h1><br>
        </p>
    <a href="{{url('ver_perfil')}}" class="btn-form">Volver a perfil</a><br>
    </div>
{% endblock %}
