{% extends "::base.html.twig" %}

{% block title %}Perfil de {{user[0].nombre}}{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('stylesheets/indexMarcos.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
{% block body %}
<div class="container">
<h1>Bienvenid@ {{user[0].nombre}}</h1>

<p>Nombre: {{user[0].nombre}} {{user[0].apellidos}}</p>
<p>Nick: {{user[0].nick}}</p>
<p>DNI: {{user[0].dNI}}</p>
<p>Teléfono: {{user[0].telefono}}</p>
<p>Email: {{user[0].email}}</p><br>

<p>Fecha de registro: {{user[0].fechaRegistro|date('Y-m-d')}}</p><hr>
<strong>Opciones:<strong><br>

<a href="{{url('ver_historial_habitaciones')}}" class="btn-form">Ver historial de habitaciones</a><br>
<a href="{{url('mostrar_pago_pendiente')}}" class="btn-form">Ver pagos pendientes</a><br>
<a href="{{url('actualizar_perfil')}}" class="btn-form">Actualizar perfil</a><br>
<a href="{{url('cambiar_contrasena')}}" class="btn-form">Cambiar contraseña</a><br><br>
<a href="{{url('_desconexion')}}" class="btn-form">Cerrar Sesion</a><br>
<a href="{{url('ver_habitaciones')}}" class="btn-form">Ver listado de habitaciones</a><br>
</div>
{% endblock %}
